html,
body {
  width: 100%;
  height: 100%;

  overflow: hidden;
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

.func-helper {
  position: absolute;
  bottom: 6rem;
  left: 5rem;
}

#func-input {
  height: 1.3rem;
  font-size: 1rem;
}
